.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
  }
  
  .notifications {
    margin-top: 20px;
  }
  
  .notification {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .notification p {
    margin: 5px 0;
  }
  
  .notification strong {
    color: #333;
  }
  .alert {
    background-color: #f37037;
    color: #f4eeec;
    border: 1px solid #ecd2c7;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  
  